/.vscode
/dawn
/out
/RTS.csv
/CSDL.csv
/CSDLDF.csv
/CSDLDF_Stats.csv
/CSDLDF_1.csv
/CSDLDF_2.csv
/CSDLDF_4.csv
/CSDLDF_8.csv
/CSDLDF_16.csv
/CSDLDF_32.csv
/CSDLDF_64.csv
/CSDLDF_128.csv
/CSDLDF_256.csv
/CSDLDF_512.csv
/Memcopy.csv